@font-face {
   font-family: 'EUR_____';
   font-display: swap;
   src: url('file:///C:/Users/Fevzy/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-07-24_143658/fonts/EUR_____/font.woff');
}
